<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title %></title>
</head>
<body>
    <a href="/">Главная страница</a><br>
    <a href="/registration">Регистрация</a><br>
    <p><%=message %></p>

    <form action="/login" method="post">
            <input type="email" name="email" placeholder="E-mail"/><br>
            <input type="password" name="password" placeholder="Пароль"/><br>        
            <input type="submit" value="Войти" /><br>
    </form>
    <br><br>
    <footer>&copy;SmartMedInterface</footer>
</body>
<html>