<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title %></title>
</head>
<body>
    <a href="/">Главная страница</a><br>
    <a href="/vte_patient_profile">vte Patient Profile</a><br>
    <a href="/vte_1">vte Watcher_1</a><br>
    <a href="/vte_2">vte Watcher_2</a><br>
    <a href="/profile">Профиль</a><br>
    <a href="/vte_results_rf">Результат РФ</a><br>
    <a href="/logout">Logout</a><br>
    <p><%=message %></p>

    <br><br>
    <footer>&copy;SmartMedInterface</footer>
</body>
<html>