<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title %></title>
</head>
<body>
    <a href="/">Главная страница</a><br>
    <a href="/programs">Программы</a><br>
    <a href="/logout">Logout</a><br>
    <p><%=message %></p>
    
    <div id='drugChooser'></div><br>

    <button id='btnOne' hidden>Принять</button><br><br><br>
    <button id='btnTry' hidden>Try</button>
    <br><br>
    <footer>&copy;SmartMedInterface</footer>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/js/vte_watch/vte_watch_2.js" defer></script>
</body>
<html>